*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

a{
    text-decoration: none;
    color: rgb(48,102,190);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    padding: 20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(48, 102, 190);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header{
    background: radial-gradient(#aeecef,#6d9dc5);
}

.header .row {
    margin-top: 70px;
}

.btn{
    display: inline-block;
    background: rgb(224,253,252);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(13, 105, 174);
}

.products{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px; 
    border: 1px solid rgb(245,243,245);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: rgb(224,253,252);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(13,105,174);
}

.footer{
    background: radial-gradient(#aeecef,#6d9dc5);
    display: flex;
    align-items: center;
    padding: 0px;
}